.pointer {
    cursor: pointer;
}

.cell {
    flex: 1 0 18%;
    /* The important bit. This percentage decides your columns. 
 The percent can be px. It just represents your minimum starting width.
  */
    margin: 5px;
    min-width: 235px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}